@import url('http://fonts.googleapis .com/css2?family=Montserrat:wght@300;400;500;600;700;800;900;display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #21256e;
}
.nav-bar{
    width: 100%;
    height: 7vh;
    position: relative;
}
.nav-bar img{
   position: absolute;
   width: 7%;
   top:45px;
}
.nav li{
    display: inline-block;
    padding-left: 30px;
}
.nav li a{
    color:#fff;
    font-size: 25px;
    text-decoration: none;
}
.nav{
    position: absolute;
    right: 5%;
    top:42px;   

}
.box{
     background-color:#d43242;
     padding: 5px 5px;
     border-radius: 2px;
}
.icons{
    font-size: 1.5vw;
    color: #fff;
    margin-left: 32px;
    padding-top:33px ;
}
.person{
    color: #fff;
    padding: 150px 3px 4px 76px;
}
.size{
    font-weight: bold;
    font-size:60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.size1{
    font-size: 30px;
    margin-top: 30px;
}
.car img{
    width: 30%;
    height: 30%;
    margin: -350px 3px 4px 1291px;
}
.table table{
      width: 40%;
      margin: -390px 3px 5px 76px;

}
.table table tr th{
    font-size: 1.5vw;
    padding: 15px 4px;
    border-radius: 5px 3px 4px 5px;
}
.table table tr th select{
    width: 80%;
    border: none;
    outline-style: none;
    background-color:#FEFCFF;
    font-size: 1.5vw;
} 


#mybtn{
    background-color: #d43242;
    color: #fff;
    width: 7vh;
    padding: 2px 3px 8px 4px;
}
#white{
    background-color: #FEFCFF;
}

div.gallery {
    height: 150px;
    margin: 80px;
    border: 1px solid #ccc;
    float: left;
    width: 270px;
  }
  
  div.gallery:hover {
    border: 1px solid #d43242;
    color: #fff;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    width: 270px;
    height: 80px;
    padding: 15px;
    text-align: center;
    background-color: #d43242;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
.gallimg{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;    
}