*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #21256e;
}

.nav1{
    position: absolute;
    left: 5.44%;
    right: 90.66%;
    top: 5.27%;
    bottom: 94.49%;
}

h1{
    position: absolute;
    width: 194px;
    height: 36px;
    left: 800px;
    top: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    filter: blur(1px);
}

.image1{
    position: absolute;
    width: 97.5%;
    height: 75%;
    left: 23px;
    top: 170px;
}

.have-tag1{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 31px;
    top: 1000px;
}

.art{
    position: absolute;
    width: 648px;
    height: 217px;
    left: 1000px;
    top: 1024px;
   font-style: normal;
   font-weight: bold;
   font-size: 34px;
   line-height: 40px;
   color: #fff;

}

.art1{
    position: absolute;
    width: 664px;
    height: 40px;
    left: 9px;
    top: 137px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #E5E5E5;

    
}

.discover-btn{
    position: absolute;
    width: 249px;
    height: 45px;
    left: 1000px;
    top: 1333px;
    cursor: pointer;
    border: 3px solid #ffa938;
    background-color: #d43242;  
    box-shadow: 5px 7px 20px #000;
    outline: none;
    transition: 0.5s all ease;
    
}

.discover-btn a{
    color: #fff;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    text-transform: capitalize;
    text-decoration: none;
    
}

.have-tag02{
    position: absolute;
    width: 46.5%;
    height: 46.5%;
    left: 960px;
    top: 1559px;
    font-size: 17px;
}

.art2{
    position: absolute;
    width: 689px;
    height: 80px;
    left: 34px;
    top: 1602px;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    color: #fff;
    line-height: 40px;
}

.art3{
    position: absolute;
    width: 664px;
    height: 40px;
    left: 9px;
    top: 137px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #E5E5E5;

}

.discover-btn01 {
    position: absolute;
    width: 249px;
    height: 45px;
    left: 34px;
    top: 1891px;
    cursor: pointer;
    border: 3px solid #ffa938;
    background-color: #d43242;  
    box-shadow: 5px 7px 20px #000;
    outline: none;
    transition: 0.5s all ease;
}

.discover-btn01 a{
    color: #fff;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    text-transform: capitalize;
    text-decoration: none;
}

